<template>
  <q-layout view="lHh Lpr lFf">
    <div v-if="isShowSnackbar" class="snackbar">
      {{ message }}
    </div>

    <q-header elevated>
      <q-toolbar class="q-py-md" v-if="selectedMode === ''">
        <q-toolbar-title class="text-center">
          Movie Collection
        </q-toolbar-title>
      </q-toolbar>

      <q-toolbar class="q-py-md" v-else>
        <q-btn
          flat
          round
          dense
          icon="arrow_back"
          class="q-mr-sm"
          @click="backToHome()"
        />
        <q-space />
        <q-btn
          v-if="selectedMode !== 'create'"
          push
          class="bg-red-10 q-mr-md"
          label="Delete"
          @click="deleteMovie()"
        />
        <q-btn push color="secondary" label="Save" @click="saveMovie()" />
      </q-toolbar>
    </q-header>
    <q-page-container>
      <q-page>
        <q-container v-if="selectedMovieId === '' && selectedMode == ''">
          <div class="q-pa-md">
            <div class="q-gutter-md">
              <q-input
                v-model="movieNameInput"
                label="Search Movie Title"
                placeholder="Eg: Interstellar"
              />

              <div v-if="movies.length == 0">
                <div class="text-grey-8 text-center">
                  You don't have any movie collection.
                </div>
              </div>

              <div v-else>
                <div>
                  <div v-if="isSearchReturnEmpty">
                    <div class="text-grey-8 text-center q-px-md">
                      The movie search was not found, try searching with other
                      keyword.
                    </div>
                  </div>
                  <div v-else v-for="movie in movies" :key="movie.movieKey">
                    <div @click="showCrud(movie.id, 'detail')">
                      <MovieDetail
                        v-if="
                          movie.title
                            .toLowerCase()
                            .includes(movieNameInput.toLowerCase())
                        "
                        :id="movie.id"
                        :title="movie.title"
                        :director="movie.director"
                        :summary="movie.summary"
                        :genres="movie.genres"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <q-page-sticky position="bottom-right" :offset="[16, 16]">
            <q-btn
              fab
              icon="add"
              color="primary"
              @click="showCrud('', 'create')"
            />
          </q-page-sticky>
        </q-container>

        <MovieCrud
          v-else
          v-on:success-create="onSuccessSaveMovieData()"
          v-on:validation-failed="handleValidationFailed()"
          :id="selectedMovieId"
          :action="currentAction"
        />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import MovieDetail from "components/MovieDetail.vue";
import MovieCrud from "components/MovieCrud.vue";

export default {
  components: {
    MovieDetail,
    MovieCrud,
  },
  data() {
    return {
      movies: [],
      movieNameInput: "",
      isSearchReturnEmpty: "",
      isShowSnackbar: false,
      selectedMovieId: "",
      selectedMode: "",
      message: "",
      currentAction: "",
    };
  },
  watch: {
    movieNameInput(newValue, oldValue) {
      this.isSearchReturnEmpty =
        this.movies.length > 0 &&
        this.movies.filter((movie) =>
          movie.title.toLowerCase().includes(this.movieNameInput.toLowerCase())
        ).length == 0;
    },
  },
  created() {
    // Load data from localStorage
    this.loadMovieData();
  },
  methods: {
    loadMovieData() {
      const dataFromStorage = localStorage.getItem("yourMovieKey");

      if (dataFromStorage) {
        this.movies = JSON.parse(dataFromStorage);
      }
    },
    backToHome() {
      this.selectedMode = "";
      this.selectedMovieId = "";
      this.currentAction = "";
    },

    saveMovie() {
      if (this.selectedMovieId === "") {
        this.currentAction = "create";
      } else {
        this.currentAction = "save";
      }
    },
    deleteMovie() {
      var moviesAfterDeleted = this.movies.filter(
        (movie) => movie.id != this.selectedMovieId
      );
      const arrayAsString = JSON.stringify(moviesAfterDeleted);
      localStorage.setItem("yourMovieKey", arrayAsString);

      this.selectedMode = "";
      this.selectedMovieId = "";
      this.showSnackbar("succcess delete movie");

      this.loadMovieData();
    },
    showSnackbar(msg) {
      this.message = msg;
      this.isShowSnackbar = true;

      setTimeout(() => {
        this.isShowSnackbar = false;
        this.message = "";
      }, 2000);
    },
    onSuccessSaveMovieData() {
      this.showSnackbar("Success save movie data.");
      this.movies = [];
      this.loadMovieData();
      this.selectedMode = "";
      this.selectedMovieId = "";
      this.currentAction = "";
      this.movieNameInput = "";
    },
    showCrud(id, mode) {
      this.selectedMovieId = id;
      this.selectedMode = mode;
    },
    handleValidationFailed() {
      this.showSnackbar(
        "Error! Please make sure the data you entered are correct. All data are required and for the summary the maximal length are 100 chars"
      );
      this.currentAction = "";
    },
  },
};
</script>

<style scoped>
.snackbar {
  position: fixed;
  width: 100;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
</style>
