<template>
    <q-card flat bordered class="my-card bg-grey-2 q-mt-md">
        <q-card-section>
            <div class="text-h6"> {{ title }}</div>
            <div class="text-grey-8"> {{ director }} </div>
        </q-card-section>
        
        <q-card-section class="q-pt-none">
            {{ summary }}
        </q-card-section>

        <q-separator inset />       

        <q-card-section class="q-pt-sm text-right">
            <div class="text-blue-10"> {{ genresGroup }} </div>
        </q-card-section>
    </q-card>
  </template>
  
  <script>
  import { defineComponent } from 'vue'
  
  export default defineComponent({
    name: 'MovieDetail',
    props: {
      mode: {
        type: String,
        required: true
      },
      id: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      director: {
        type: String,
        required: true
      },
      summary: {
        type: String,
        required: true
      },
      genres: {
        type: Array,
        required: true,
        default: () => [],
      },
      currentMovieCollection: {
        type: Array,
        required: true,
        default: () => [],
      },
    },
    computed: {
      // print genre as a group
      genresGroup() {
        return this.genres.length > 1 ? this.genres.join(' / ') : this.genres[0];
      },
    },
  })
  </script>
  