<template>
  <q-container>
    <div class="q-pa-md">
      <div class="q-gutter-md">
        <q-input outlined v-model="currentTitle" label="Title" />
        <q-input outlined v-model="currentDirector" label="Director" />
        <q-input
          outlined
          v-model="currentSummary"
          label="Summary"
          type="textarea"
        />
        <div class="text-subtitle1 text-grey-14">Genres</div>
        <q-btn
          :outline="!isAction"
          color="primary"
          label="Action"
          @click="isAction = !isAction"
        />
        <q-btn
          :outline="!isSciFi"
          color="primary"
          label="Sci-Fi"
          @click="isSciFi = !isSciFi"
        />
        <q-btn
          :outline="!isDrama"
          color="primary"
          label="Drama"
          @click="isDrama = !isDrama"
        />
        <q-btn
          :outline="!isAnimation"
          color="primary"
          label="Animation"
          @click="isAnimation = !isAnimation"
        />
        <q-btn
          :outline="!isHorror"
          color="primary"
          label="Horror"
          @click="isHorror = !isHorror"
        />
      </div>
    </div>
  </q-container>
</template>

<script>
import { defineComponent, isProxy, toRaw } from "vue";

export default defineComponent({
  name: "MovieCrud",
  data() {
    return {
      currentTitle: "",
      currentDirector: "",
      currentSummary: "",
      currentGenres: [],
      currentMovie: {},
      currentMovies: [],
      isAction: false,
      isSciFi: false,
      isDrama: false,
      isAnimation: false,
      isHorror: false,
    };
  },
  created() {
    this.loadMovieData();
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    action: {
      type: String,
      required: true,
    },
  },
  watch: {
    action(newValue, oldValue) {
      if (newValue == "create") {
        this.saveMovie();
      }
      if (newValue == "save") {
        this.updateMovie();
      }
    },
  },
  methods: {
    setInitialStateGenresButton() {
      this.isAction = this.currentGenres.includes("Action");
      this.isSciFi = this.currentGenres.includes("Sci-Fi");
      this.isDrama = this.currentGenres.includes("Drama");
      this.isAnimation = this.currentGenres.includes("Animation");
      this.isHorror = this.currentGenres.includes("Horror");
    },
    loadMovieData() {
      const dataFromStorage = localStorage.getItem("yourMovieKey");

      if (dataFromStorage) {
        const movies = JSON.parse(dataFromStorage);
        this.currentMovies = movies;

        if (this.id !== "") {
          this.currentMovie = movies.filter((movie) => movie.id === this.id)[0];
          this.currentGenres = this.currentMovie.genres;
          this.setInitialStateGenresButton();

          this.currentTitle = this.currentMovie.title;
          this.currentSummary = this.currentMovie.summary;
          this.currentDirector = this.currentMovie.director;
        }
      }
    },
    generateGenres() {
      var submittedGenres = [];
      if (this.isAction) {
        submittedGenres.push("Action");
      }
      if (this.isAnimation) {
        submittedGenres.push("Animation");
      }
      if (this.isDrama) {
        submittedGenres.push("Drama");
      }
      if (this.isHorror) {
        submittedGenres.push("Horror");
      }
      if (this.isSciFi) {
        submittedGenres.push("Sci-Fi");
      }
      return submittedGenres;
    },
    generateId() {
      const characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      let result = "";

      for (let i = 0; i < 16; i++) {
        const randomIndex = Math.floor(Math.random() * characters.length);
        result += characters.charAt(randomIndex);
      }
      return result;
    },
    updateMovie() {
      var submittedGenres = this.generateGenres();

      const updatedMovies = {
        id: this.id,
        summary: this.currentSummary,
        title: this.currentTitle,
        director: this.currentDirector,
        genres: submittedGenres,
      };

      var isFormValid = !(
        submittedGenres.length == 0 ||
        this.currentSummary == "" ||
        this.currentSummary.length > 100 ||
        this.currentTitle == "" ||
        this.currentDirector == ""
      );

      if (isFormValid) {
        var otherMovies = this.currentMovies.filter(
          (movie) => movie.id !== this.id
        );
        var newMoviesData = [updatedMovies].concat(toRaw(otherMovies));

        const arrayAsString = JSON.stringify(newMoviesData);
        localStorage.setItem("yourMovieKey", arrayAsString);
        this.$emit("success-create");
      } else {
        this.$emit("validation-failed");
      }
    },
    saveMovie() {
      var generatedId = this.generateId();
      var submittedGenres = this.generateGenres();

      const newMovies = {
        id: generatedId,
        summary: this.currentSummary,
        title: this.currentTitle,
        director: this.currentDirector,
        genres: submittedGenres,
      };

      var isFormValid = !(
        submittedGenres.length == 0 ||
        this.currentSummary == "" ||
        this.currentSummary.length > 100 ||
        this.currentTitle == "" ||
        this.currentDirector == ""
      );

      if (isFormValid) {
        var newMoviesData = [newMovies].concat(toRaw(this.currentMovies));
        const arrayAsString = JSON.stringify(newMoviesData);
        localStorage.setItem("yourMovieKey", arrayAsString);
        this.$emit("success-create");
      } else {
        this.$emit("validation-failed");
      }
    },
  },
});
</script>
